html,
body {
  margin: 0;
  padding: 0;
    overflow-x: hidden;
}

body {
	background-color: #000;
    font-family: 'Merriweather', serif;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.3;}
}
.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}

* {
  box-sizing: border-box;
}

a
{
    color: #e00000;
}

section {
	background-color: #000;
	height: 100vh;
	width: 100vw;
	/*position: relative;*/
}

h2 {
	text-align: center;
	color: #fff;
/*	margin: 0;*/
	font-family: sans-serif;
    font-size: 3em;
    font-family: rama-gothic-e, sans-serif;
        font-style: normal;
        font-weight: 600;
    line-height: 0.9;
    text-transform: uppercase;
}

h3 {
	color: #000;
	margin: 0;
    font-size: 3em;
    padding-top: 5%;
    font-family: rama-gothic-e, sans-serif;
        font-style: normal;
        font-weight: 600;
}

button
{
    font-family: rama-gothic-e, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.5em;
    background-color: #e00000;
}

button:hover
{
    filter: brightness(70%);
}

.youtube-player {
        position: relative;
        padding-bottom: 56.23%;
        /* Use 75% for 4:3 videos */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
        margin: 5px;
    }
    
    .youtube-player iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
    }
    
    .youtube-player img {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: auto;
        cursor: pointer;
        -webkit-transition: .4s all;
        -moz-transition: .4s all;
        transition: .4s all;
    }
    
    .youtube-player img:hover {
        -webkit-filter: brightness(105%);
    }
    
    .youtube-player .play {
        height: 60px;
        width: 60px;
        left: 50%;
        top: 50%;
        margin-left: -36px;
        margin-top: -36px;
        position: absolute;
        background: url("/gfx/play.png") no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
    }

.landing {
	background-image: url("images/rnm-header.png");
	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
    margin-bottom: 5vh;
}


.title {
	position: absolute;
	right: 0;
	top: 5%;
	color: #fff;
	width: 60%;
}

.lp-title {
    height: 28vh;
    margin: 10px;
}

.lp-title img {
	width: 90%;
    margin: 0 5%;
}

.title-copy {
	width: 45%;
    margin: 0 auto;
    margin-top: 20%;
    text-align: center;
}


.scroll {
	position: absolute;
    bottom: 5%;
    left: 49%;
    width: 2%;
}

/*chinup*/

.chin-right {
    position: relative;
    padding-right: 0;
    padding-left: 0 !important;
    opacity: 0.6;
}

.chin-right:hover
{
    opacity: 1;
}

.chin-right img {
    margin-top: 2%;
	width: 100%;
}


.chin-left {
	padding-right: 0 !important;
    padding-left: 0 !important;
    
}

.top, .middle, .bottom {
	width: 95%;
	border: 2px solid #505050;
    margin: 2.5%;
    opacity: 0.6;
}
.top
{
    background-image: url(images/story-img.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.top:hover, .middle:hover, .bottom:hover {
    opacity: 1;
}

/*
.chin-left img
{
    width: 100%;
    margin: 3% 16% 0 16%;
}
*/

.middle p img
{
    width: 7%;
    margin: 0 3%;
}

.middle
{
    padding: 0 5%;
}


.middle p
{
    	text-align: center;
	color: #fff;
    font-size: 1.7em;
    font-family: rama-gothic-e, sans-serif;
        font-style: normal;
        font-weight: 600;
    line-height: 2;
    width: 55%;
    margin: 0 22.5%;
}

.bottom
{
    background-image: url(images/chins-img.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#read-story.extra {
    width: 70%;
    height: 40px;
    margin: 20% 15% 3% 15%;
    border: none;
    color: #fff;
    line-height: 40px;
    cursor: pointer;

}

#learn-chins.extra {
    height: 40px;
    width: 70%;
    margin: 20% 15% 3% 15%;
    border: none;
    color: #fff;
    line-height: 40px;
    cursor: pointer;

}

#join-convo.extra {

    position: absolute;
    left: 20%;
    bottom: 31%;
    width: 25%;
    border: none;
    color: #fff;
    line-height: 40px;
    cursor: pointer;

}

.content-wrapper {
	position: absolute;
    width: 30%;
    height: 100%;
    right: 21%;
    bottom: 0;
    padding-top: 25%;
}

.content-wrapper h3
{
    font-size: 5vh;
}

.content-wrapper p
{
    font-size: 1.7vh;
}


/*timeline*/

.slider {
  width: 80%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
	margin: 0 auto;
}

.slick-dots {
	bottom: 0;
}

.timeline-nav
{
    z-index: 20;
    margin-top: 6%;
}

.timeline-slide img {
  width: 45%;
  height: auto;
  top: 12%;
  object-fit: cover;
  position: absolute;
}

.slick-next, .slick-prev {
	z-index: 3;
	width: 50px;
	height: 50px;
}

.slick-next {
	right: 2%;
}

.slick-prev{
	left: 2%;
}

.slick-prev:before,
.slick-next:before {
  color: #fff;
  font-size: 50px;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}


.timeline {
  width: 100%;
  position: relative;
    margin-top: 15vh;
}

.connector {
	display: block;
	width: 100%;
	height: 2px;
	position: absolute;
	background-color:#666666;
    position: relative;
    bottom: 10px;
    z-index: 1;
}

.single-tl
{
    margin-top: 8%;
}

.timeline-nav__item {
  width: auto;
  height: auto;
  text-align: center;
  opacity: 1;
  background: transparent;
  color: #666666;
  margin: 10px 25px 20px 25px !important;
  position: relative;
  font-size: 19px;
    font-family: rama-gothic-e, sans-serif;
        font-style: normal;
        font-weight: 600;
  line-height: 28px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
}
.timeline-nav__item.year::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #666666;
  transition: .2s;
}

.timeline-nav__item.not-year::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #000000;
    border: solid 3px #666666;
  transition: .2s;
}

.timeline-nav__item.slick-current {
  color: #e1352f;
  opacity: 1;
    font-size: 30px;
}
.timeline-nav__item.slick-current.year::before {
  background-color: #e1352f;
}

.timeline-nav__item.slick-current.not-year::before {
  background-color: #000000;
    border: solid 3px #e1352f;
}

.timeline-wrapper {
  position: relative;
  width: 100%;
  height: 580px;
  margin: 60px auto;
}

.timeline-slider {
  height: 100%;
}
.timeline .slick-list {
  height: 100%;
}

.timeline .slick-track {
  height: 100%;
}
.timeline-slide {
  position: relative;
  overflow: hidden;
  outline: none;
  margin: 0 24px;
  width: 80%;
  z-index: 1;
    
}
.timeline-slide:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 2;
}
.timeline-slide__content {
  z-index: 5;
  opacity: 0;
  transition: opacity 1s;
}

.timeline-year {
  z-index: 5;
  font-size: 35px;
  font-family: sans-serif;
  color: #ffffff;
  padding: 15px 0;
  transition: opacity 1.2s;
font-family: rama-gothic-e, sans-serif;
        font-style: normal;
        font-weight: 600;
  opacity: 0;
}
.timeline-title {
  color: #ff9900;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
}
.timeline-text {
  font-size: 18px;
  line-height: 28px;
  color: #666666;
}
.timeline .slick-current:after {
  display: none;
}
.timeline .slick-current .timeline-year {
  opacity: 1;
}
.timeline .slick-current .timeline-slide__content {
  opacity: 1;
}

/*wecud*/

.wecud {
	width: 100%;
	height: 90vh;
    background-color: white;
     padding: 2.5% 0 0 0;
    margin: 0;
}

.header-wecud {
	width: 100%;
    position: relative;
    top: 8vh;
}

.wecud-right img {
    padding: 3% 5% 0 15%;
    width: 90%;
    
}

.wecud-right {
    
}

.p-btn {
	
    width: 45%;
    background-color: #e00000;
    border: none;
    font-size: 1.5em;
	height: 40px;
	padding: 10px;
    color: #fff;
    text-decoration: none;
    font-family: rama-gothic-e, sans-serif;
        font-style: normal;
        font-weight: 600;
    line-height: 22px;
    display: block;
    cursor: pointer;
    text-align: center;
}

.p-btn:hover
{
    filter: brightness(70%);
}

.footer-left
{
    margin-top: 25%;
}

.rage-logo
{
    width: 70%;
    margin: 2%;
}

.footer-logo
{
    width: 15%;
    margin: 2%;
}

.footer-terms
{
    display: block;
    margin: 2%;
    font-size: 1.35vh;
}

.footer-terms span
{
    display: block;
}

@media (min-width: 1080px) {
  .timeline .slick-list {
    padding: 0 180px !important;
  }
}

@media (max-width: 500px) {

    section {
	background-color: #000;
	height: auto;
	width: 100vw;
	/*position: relative;*/
}
    
    h2 span
    {
        display: block;
    }
    
    .timeline-nav
{
    margin-top: 12%;
}
    

    .scroll {
	display: none;
}

  .landing {
      height: auto;
    background-image: none;
      background-color: #000;
  }

  .title {
	position: relative;
	right: 0;
    bottom: 0%;
    top: unset;
    color: #fff;
    width: 100%;
  }

	.title-copy {
	width: 80%;
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
}

    .main-image
    {
        width: 100%;
    }

  .lp-title {
	margin: 0;
	height: 33vh;
  }
    
/*
    .top, .middle, .bottom {
    opacity: 1;
}
*/
    
    .middle p
{
    width: 70%;
    margin: 0 15%;
}
    
.middle
{
    padding: 0;
}


#read-story.extra {
    width: 94%;
    margin: 55% 3% 3% 3%;

}

#learn-chins.extra {
    width: 94%;
    margin: 55% 3% 3% 3%;

}



 /* .lp-title img {
  	width: 600px;
  }*/
    
    .instruction
    {
        position: absolute;
        top: 25.5%;
        right: 0%;
        color: #fff;
        font-size: 10px;
    }
    
    .instruction img
    {
        width: 45%;
        margin-left: 12%;
    }

.timeline
    {
        margin-bottom: 0 !important;
    }
    
  .timeline-slide img {
  	display: none;
  }
    
    .timeline-slide {
  	border-bottom: solid #3f3f3f 2px;
  }

  .timeline-wrapper {
    height: 100vh; 
  }

  .slick-slide img {
  	width: 100%;
  }

  .timeline-slide__content {
  	top: 7%;
  	left: 50%;
  	width: 100%;
  }

  .timeline-text {
  	color: #a0a0a0;
      font-size: 15px;
      line-height: 1.6;
  }
    
    .timeline-wrapper {
  margin: 40px auto;
}
    
.slick-prev:before, .slick-next:before
    {
        font-size: 28px;
    }

  .slick-next {
  	top: 5%;
  }

  .slick-prev {
  	top: 5%;
  }
   .slick-prev:before, .slick-next:before
    {
        
    } 

  .timeline-year {
    top: 0%;
      text-align: center;
      display: block
  }
    
    .single-tl
    {
        margin-top: 0;
    }
    
    
    .chinup-project img
    {
        width: 100%;
    }
    
    .chinup-content
    {
        background-color: #fff;
    }
    
    .chinup-wrap
    {
        padding: 2% 5% 6% 5%;
    }
    
    .chinup-content button {
    border: none;
    width: 100%;

    color: #fff;
    line-height: 40px;
    cursor: pointer;
    }
    
    .wecud {
	width: 100vw;
	height: auto;
    background-color: white;
        padding: 20% 8%;
}

.header-wecud {
	width: 150%;
    position: relative;
    right: 35%;
}

.wecud-left {
	width: 100%;
	position: static;

}

.p-btn {
	
    width: 100%;
    border: none;
	height: 40px;
	padding: 10px;
    color: #fff;
    text-decoration: none;
    font-family: rama-gothic-e, sans-serif;
        font-style: normal;
        font-weight: 600;
    line-height: 22px;
    display: block;
    cursor: pointer;
    text-align: center;
}
    .footer-left
    {
        text-align: center;
    }
    
    .rage-logo
    {
        width: 30%;
    }
    
    .footer-logo
{
    width: 10%;
    margin: 3%;
}

.footer-terms
{
    display: block;
    margin: 2%;
}

.footer-terms span
{
    display: block;
}

    
}


/* video */

.video-section
{
    padding: 0% 8%;
    margin-bottom: 0 !important;
    margin-top: 12vh;
}

#ypt_wrapper {
  width: 100%;
  background: #000;
  color: #000;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 1em;
    margin-top: 5%;
}

#ypt_thumbs {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 30%;
  background: #000;
  margin: 0;
  padding: 0 0 0 1%;
  height: 0;
}

#ypt_thumbs li {
  list-style: none;
  margin: 0 0 5% 0 ;
  position: relative;
  font-size: 0;
}

#ypt_thumbs li img{
  width: 40%;
}

#ypt_thumbs li p {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.7);
  display: block;
  position: absolute;
  width: 60%;
  height: 100%;
  color: #fff;
  padding: 5%;
  margin: 0 0 0 40%;
}

#ypt_thumbs li:hover p {
  cursor: pointer;
}

#ypt_thumbs .ypt-now-playing p {
  display: block;
}

#ypt_thumbs .ypt-now-playing > span::after {
  content: "\25b6  Now playing"; /* A traingle pointing right */
  margin-top: -1em;
  display: block;
  width: 100%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  bottom: 0;
  font-size: 10px;
}

#ypt_wrapper .video {
  position: relative;
  width: 70%;
  height: 0;
  padding: 0 0 48.4% 0;
  float: left;
}

#ypt_wrapper .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float:left;
     padding: 0;
    margin: 0;
}


@media only screen and (max-width : 500px) {
    .video-section
    {
        margin: 0 0 20% 0;
        height: auto;
    }
    
    .video
    {
        margin-top: 5%;
    }
/*
  #ypt_thumbs {
    display: none;
  }
*/

#ypt_thumbs {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  background: #000;
  margin: 0;
  padding: 0;
  height: 5%;
    border: none;
}

#ypt_thumbs li {
  list-style: none;
  margin: 2% 0;
  position: relative;
  font-size: 0;
    display: block;
}

#ypt_thumbs li img{
  width: 45%;
}

#ypt_thumbs li p {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.7);
  display: block;
  position: absolute;
    left: 50%;
  width: 50%;
  height: 100%;
  color: #fff;
  padding: 3% 0%;
  margin: 0;
}

#ypt_thumbs .ypt-now-playing p {
  display: block;
}

#ypt_thumbs .ypt-now-playing > span::after {
  content: "\25b6  Now playing"; /* A traingle pointing right */
  margin-top: -1em;
  display: inline;
  width: 35%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  bottom: 0;
  font-size: 10px;
}    
    
  #ypt_wrapper .video {
    width: 100%;
    padding-bottom: 56.25%;
  }
}

@media only screen and (max-width : 500px) and (orientation : landscape)

    
{
    body
    {
        display: none;
    }
    
}