html,
body {
  margin: 0;
  padding: 0;
}

body {
	background-color: #000;
}

* {
  box-sizing: border-box;
}


section {
	background-color: #000;
	height: 100vh;
	width: 100vw;
	/*position: relative;*/
}

h2 {
	text-align: center;
	color: #fff;
	margin: 0;
	font-family: sans-serif;
    font-size: 1.8em;
    padding-top: 5%;
}

h3 {
	color: #000;
	margin: 0;
	font-family: sans-serif;
    font-size: 1.8em;
    padding-top: 5%;
}

.landing {
	background-image: url("images/rnm-header.png");
	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
}

.title {
	position: absolute;
	right: 2%;
	top: 3%;
	color: #fff;
	width: 60%;
}

.lp-title {
    height: 28vh;
    margin: 10px;
}

.lp-title img {
	width: 100%;

}

.title-copy {
	width: 45%;
    margin: 0 auto;
    margin-top: 25%;
}

.logo {
	text-align: center;
	position: absolute;
}

.logo img {
	width: 100px;
	margin: 10px
}

.logo img:last-child {
	width: 80px;
}

.scroll {
	position: absolute;
    bottom: 5%;
    left: 50%;
}

/*chinup*/

.chin-right {
	width: 60%;
	position: relative;
	float: right;
}

.chin-right img {
	width: 100%;

}


.chin-left {
	width: 40%;	
	position: relative;
	float: left;
}

.top, .middle, .bottom {
	width: 100%;
	border: 1px solid #fff;
}

.chin-left img {
	width: 70%;
    margin: 7% 14%;
}

#read-story.extra {
    position: absolute;
    left: 5%;
    top: 23%;
    width: 90%;
    height: 40px;
    background-color: #e13530;
    border: none;
    font-family: sans-serif;
    font-size: 1em;
    color: #fff;
    line-height: 40px;
    cursor: pointer;

}

#learn-chins.extra {
    position: absolute;
    left: 5%;
    bottom: 2%;
    height: 40px;
    width: 90%;
    background-color: #e13530;
    border: none;
    font-family: sans-serif;
    font-size: 1em;
    color: #fff;
    line-height: 40px;
    cursor: pointer;

}

#join-convo.extra {

    position: absolute;
    left: 18%;
    bottom: 29%;
    width: 28%;
    background-color: #e13530;
    border: none;
    font-size: 0.7em;

    color: #fff;
    line-height: 40px;
    cursor: pointer;

}

.content-wrapper {
	position: absolute;
    width: 35%;
    right: 17%;
    bottom: 33%;
}




/*timeline*/

.slider {
  width: 80%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
	margin: 0 auto;
}

.slick-dots {
	bottom: 0;
}

.timeline-slide img {
  width: 45%;
  height: auto;
  top: 12%;
  object-fit: cover;
  position: absolute;
}

.slick-next, .slick-prev {
	z-index: 3;
	width: 50px;
	height: 50px;
}

.slick-next {
	right: 2%;
}

.slick-prev{
	left: 2%;
}

.slick-prev:before,
.slick-next:before {
  color: #fff;
  font-size: 50px;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}


.timeline {
  width: 100%;
  position: relative;
}

.connector {
	display: block;
	width: 100%;
	height: 2px;
	position: absolute;
	top: 153px;
	background-color:#666666;
}

.timeline-nav__item {
  width: auto;
  height: auto;
  text-align: center;
  opacity: 1;
  background: transparent;
  color: #666666;
  margin: 15px 25px !important;
  position: relative;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 28px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
}
.timeline-nav__item::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #666666;
  transition: .2s;
}
.timeline-nav__item.slick-current {
  color: #e1352f;
  opacity: 1;
}
.timeline-nav__item.slick-current::before {
  background-color: #e1352f;
}
.timeline-wrapper {
  position: relative;
  width: 100%;
  height: 580px;
  margin: 60px auto;
}

.timeline-slider {
  height: 100%;
}
.timeline .slick-list {
  height: 100%;
}

.timeline .slick-track {
  height: 100%;
}
.timeline-slide {
  position: relative;
  overflow: hidden;
  outline: none;
  margin: 0 24px;
  width: 80%;
  z-index: 1;
}
.timeline-slide:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #708cadcc;
  z-index: 2;
}
.timeline-slide__content {
  z-index: 5;
  position: absolute;
  top: 70px;
  width: 45%;
  left: 74%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  opacity: 0;
  transition: opacity 1s;
}

.timeline-year {
  z-index: 5;
  font-size: 35px;
  font-family: sans-serif;
  color: #ffffff;
  padding: 15px 0;
  transition: opacity 1.2s;
  position: absolute;
  left: 52%;
  width: 45%;
  top: 0%;
  opacity: 0;
}
.timeline-title {
  color: #ff9900;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
}
.timeline-text {
  font-size: 18px;
  line-height: 28px;
  color: #666666;
}
.timeline .slick-current:after {
  background-color: rgba(0, 52, 113, 0);
}
.timeline .slick-current .timeline-year {
  opacity: 1;
}
.timeline .slick-current .timeline-slide__content {
  opacity: 1;
}

/*wecud*/

.wecud {
	width: 100%;
	height: 100vh;
    background-color: white;
}

.wecud img {
	width: 100%;
    position: relative;
    margin-top: -9%;
}

.wecud-left {
	width: 45%;
	position: absolute;
	left: 10%;

}


@media (min-width: 1080px) {
  .timeline .slick-list {
    padding: 0 180px !important;
  }
}

@media (max-width: 500px) {


  .landing {
  	background-position: unset;
  }

  .title {
	position: absolute;
	right: 0;
    bottom: 0%;
    top: unset;
    color: #fff;
    width: 100%;
  }

  .title-copy {
	width: 100%;
    margin: 0 auto;
    padding: 9% 9% 24% 9%;
    background-color: #000;
  }

  .lp-title {
	margin: 0;
	height: 33vh;
  }

  .connector {
  	top: 208px;

  }

 /* .lp-title img {
  	width: 600px;
  }*/

  .timeline-slide img {
  	display: none;
  }

  .timeline-wrapper {
    height: 100vh;
  }

  .slick-slide img {
  	width: 100%;
  }

  .timeline-slide__content {
  	top: 7%;
  	left: 50%;
  	width: 100%;
  }

  .timeline-text {
  	color: #fff;
  }

  .slick-next {
  	top: 30%;
  }

  .slick-prev {
  	right: 2%;
    top: 40%;
    left: unset;
  }

  .timeline-year {
  	left: 0;
  	width: 100%;
    top: 0%;
  }

  .chin-right {
  	width: 100%;
  }

  .chin-left {
  	width: 100%;
  }
}


/* video */

#ypt_wrapper {
  width: 100%;
  background: #FFF;
  color: #000;
  overflow: hidden;
  max-width: 100%;
  box-shadow: 0px 8px 13px rgba(0,0,0,0.5);
  margin-bottom: 1em;
}

#ypt_thumbs {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 20%;
  background: #000;
  margin: 0;
  padding: 0;
  height: 0;
}

#ypt_thumbs li {
  list-style: none;
  margin: 0;
  position: relative;
  font-size: 0;
}

#ypt_thumbs li img{
  width: 100%;
}

#ypt_thumbs li p {
  font-family: arial;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 5%;
  margin: 0;
}

#ypt_thumbs li:hover p {
  display: block;
  cursor: pointer;
}

#ypt_thumbs .ypt-now-playing p {
  display: block;
}

#ypt_thumbs .ypt-now-playing > span::after {
  content: "\25b6  Now playing"; /* A traingle pointing right */
  margin-top: -1em;
  display: block;
  width: 100%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  bottom: 0;
  font-size: 10px;
}

#ypt_wrapper .video {
  position: relative;
  width: 80%;
  /*height: 0;*/
  padding-bottom: 48.4%;
  float: left;
}

#ypt_wrapper .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float:left;
}

@media only screen and (max-width : 500px) {
/*
  #ypt_thumbs {
    display: none;
  }
*/

#ypt_thumbs {
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
  background: #000;
  margin: 0;
  padding: 0;
  height: 5%;
}

#ypt_thumbs li {
  list-style: none;
  margin: 0;
  position: relative;
  font-size: 0;
    display: inline;
}

#ypt_thumbs li img{
  width: 35%;
}

#ypt_thumbs li p {
  font-family: arial;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 5%;
  margin: 0;
}

#ypt_thumbs li:hover p {
  display: block;
  cursor: pointer;
}

#ypt_thumbs .ypt-now-playing p {
  display: block;
}

#ypt_thumbs .ypt-now-playing > span::after {
  content: "\25b6  Now playing"; /* A traingle pointing right */
  margin-top: -1em;
  display: inline;
  width: 35%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  bottom: 0;
  font-size: 10px;
}    
    
  #ypt_wrapper .video {
    width: 100%;
    padding-bottom: 56.25%;
  }
}